
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family:'Manrope', sans-serif;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  all:unset;
  font-family: inherit;
}

.App {
  width:100%;
  min-height:80vh;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  flex-direction:column;
  flex-wrap:wrap;
}